main {
    .con__h1 { text-align: center;

    }
    .form__container { width: 100%;
                        display: flex;
                        flex-direction: column;
                        
                        align-items: center;
                        
        .formulario { display: flex;
                     flex-direction: column;
                     align-items: center;
                     width: 280px;
                     background-color: $azul;
                     border-radius: 5px;
            .form__input { border-radius: 5px;
                            width: 250px;
                            margin-top: 1rem;
                            border-color: $azul;
                            border-width: 0px;
                            box-shadow: none;
                           

            }
            .boton {
                margin-bottom: 1rem;
            }
        }
    }
}

@media screen and (min-width: 480px) {

    main .form__container .formulario {
        width: 450px;
    }
    main .form__container .formulario .form__input {
        width: 430px;
    }
}
@media screen and (min-width: 1200px) {
    main .con__h1 {
        margin-top: 2rem;
    }
    main .form__container {
        margin-top: 1rem;
        margin-bottom: 13rem;
    }
}
@media screen and (min-width: 1920px){
    main .form__container { margin-bottom: 13rem;}
    main .form__container .formulario {
        width: 650px;
    }
    main .form__container .formulario .form__input {
        width: 630px;
    }
    
} 